<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="dots" refreshingText=""></ion-refresher-content>
    </ion-refresher>
    <ion-spinner *ngIf="loadingUpcoming" name="dots"></ion-spinner>
    <ion-card (click)="openContest(index)" class="lottery-uppcoming" *ngFor="let item of lotterysUpcoming; let index = index">
        <ion-card-content>
            <ion-card-title class="lottery-uppcoming">
                {{item?.name}} - {{item?.contest?.game_name}}
            </ion-card-title>

            <ion-item class="lottery-content" no-padding>
                <!-- <h3>Sorteio:</h3>
                <p>{{item?.name}}</p> -->
                <h3>Concurso:</h3>
                <p>{{item?.contest?.name}}</p>
                <h3>Data do sorteio:</h3>
                <p>{{item?.contest?.draw_date | date:"dd/MM/yyyy HH:mm" }}</p>
                <h3>Estado:</h3>
                <p>{{item?.contest?.game?.state_display }}</p>
            </ion-item>
            <ion-item class="lottery-total-amount" text-center>
                R$ 25000,00
            </ion-item>


        </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="dots" loadingText="">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>