page-sign-up {
    .list-input ion-item {
        padding: 0px 15px;
        margin: 0px 0px 10px 0px;
        border-radius: 60px;
        border: 1px solid #bbbbbb !important;
        background-repeat: no-repeat !important;
        background-position-x: 25px !important;
        background-position-y: 17px !important;
    }
    .btn-wrapper button {
        height: 45px;
        background: #1E68C1;
        color: #ffffff;
        text-transform: uppercase;
    }
}